@page "/"

@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Lobby</PageTitle>

<h3>Lobby</h3>

<input type="text" @bind="playerName" placeholder="Your Name" />
<input type="text" @bind="currentRoomName" placeholder="Room Name" />
<button @onclick="CreateRoomAsync">Create Room</button>

<p role="status">Current Room: @currentRoom?.RoomName</p>


@code {
   private HubConnection? hubConnection;
   private string playerName = string.Empty;
   private string currentRoomName = string.Empty;
   private GameRoom? currentRoom;
   private List<GameRoom> rooms = new();

   protected override async Task OnInitializedAsync()
   {
      hubConnection = new HubConnectionBuilder()
                     .WithUrl(navigationManager.ToAbsoluteUri("/gamehub"))
                     .Build();
      hubConnection.On<List<GameRoom>>(ConnectionMethods.Rooms, (roomList) => {
         Console.WriteLine($"We got rooms! Count -> {roomList.Count}");
      });
      await hubConnection.StartAsync();
   }

   private async Task CreateRoomAsync()
   {
      if(hubConnection is null)
         return;
      currentRoom = await hubConnection.InvokeAsync<GameRoom>("CreateRoom", currentRoomName, playerName);
      Console.WriteLine($"Current Room => {currentRoom.RoomName}");
   }

}    