@page "/"

@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Lobby</PageTitle>

<h4>Welcome to Tic Tac Toe</h4>

@if(currentRoom is null)
{
   <input type="text" @bind="playerName" placeholder="Your Name" />
   <input type="text" @bind="currentRoomName" placeholder="Room Name" />
   <button @onclick="CreateRoomAsync">Create Room</button>
   <br/>
   <p>Current Room : @currentRoom?.RoomName</p>

   <h3 style="margin-top: 12px;">Rooms:</h3>

   <ul>
      @foreach (var room in rooms)
      {
         <li>@room.RoomName
            <button @onclick="() => JoinRoom(room.RoomId)">
               Join Room
            </button>
         </li>
      }
   </ul>
}
else 
{
   <Room/>
}

@code {
   private HubConnection? hubConnection;
   private string playerName = string.Empty;
   private string currentRoomName = string.Empty;
   private GameRoom? currentRoom;
   private List<GameRoom> rooms = new();

   protected override async Task OnInitializedAsync()
   {
      hubConnection = new HubConnectionBuilder()
                     .WithUrl(navigationManager.ToAbsoluteUri("/gamehub"))
                     .Build();
      hubConnection.On<List<GameRoom>>(ConnectionMethods.Rooms, (roomList) => {
         Console.WriteLine($"We got rooms! Count -> {roomList.Count}");
         rooms = roomList;
      });
      await hubConnection.StartAsync();
   }

   private async Task CreateRoomAsync()
   {
      if(hubConnection is null)
         return;
      currentRoom = await hubConnection.InvokeAsync<GameRoom>(ConnectionMethods.CreateRoom, currentRoomName, playerName);
      Console.WriteLine($"Current Room => {currentRoom.RoomName}");
   }

   private async Task JoinRoom(string roomId)
   {
      if(hubConnection is null)
         return;
      
      var joinedRoom = await hubConnection.InvokeAsync<GameRoom>(
         ConnectionMethods.JoinRoom,
         roomId, playerName
      );

      if(joinedRoom is not null)
      {
         currentRoom = joinedRoom;
      }
      else 
      {
         Console.WriteLine("Room is full or does not exist");
      }
   }
}    