@{
    ViewData["Title"] = "Home Page";
}

<textarea name="message" id="messageInput"></textarea>
<input type="button" id="sendButton" value="Send message">

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>