@{
    ViewData["Title"] = "Home Page";
}

<textarea name="message" id="messageInput"></textarea>
<button id="sendButton">Send Message</button>

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>