@{
    ViewData["Title"] = "Home Page";
}

<a href="/Announcement">Go to Announcement</a>

<div style="margin-top: 8px; margin-bottom: 8px;">
    <button type="button" id="joinGroupBtn">Join Private Group</button>
</div>

<div style="display: flex; gap: 2px; margin-bottom: 2px;">
    <textarea name="message" id="messageInput"></textarea>
    <select id="group">
        <option value="All">Everyone</option>
        <option value="Myself">MySelf</option>
        <option value="PrivateGroup">Private Group</option>
    </select>
    <button id="sendButton">Send Message</button>
</div>

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>


