@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; gap: 2px; margin-bottom: 2px;">
    <textarea name="message" id="messageInput"></textarea>
    <select id="group">
        <option value="All">Everyone</option>
        <option value="Myself">MySelf</option>
    </select>
    <button id="sendButton">Send Message</button>
</div>

<div id="messages"></div>