.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a,
    .top-row ::deep .btn-link {
        margin-left: 0;
    }
}
